<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sendMessage" action="ContactForm" id="contactForm" ng-submit="form.submitForm(sendMessage.$valid)" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset class="form-group controls" ng-class="{'has-error' : sendMessage.fullname.$invalid && !sendMessage.fullname.$pristine }">
                                  <label for="fullname" class="control-label">Full Name</label>
                                  <input type="text" class="form-control" placeholder="Your Name *" name="fullname" id="fullname" data-validation-required-message="Please enter your name."ng-model="fullname" required>
                                    <p class="help-block text-danger" ng-show="sendMessage.fullname.$invalid && !sendMessage.fullname.$pristine">Your name is required</p>
                            </fieldset>
                            <fieldset class="form-group floating-label-form-group controls">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" placeholder="Your Email *" name="email" id="email" ng-model="email" required>
                                <p class="help-block text-danger" ng-show="sendMessage.email.$invalid && !sendMessage.email.$pristine">Enter a valid email.</p>
                            </fieldset>
                            <fieldset class="form-group floating-label-form-group controls">
                                <label for="phone">Phone number</label>
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" name="phone" ng-model="phone">
                                <p class="help-block text-danger"></p>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group floating-label-form-group controls">
                                <label for="message">Message</label>
                                <textarea  class="form-control" placeholder="Your Message *" id="message" name="message" data-validation-required-message="Please enter a message." ng-model="message" required></textarea>
                                <p class="help-block text-danger" ng-show="sendMessage.message.$invalid && !sendMessage.message.$pristine">Your message text is required</p>
                            </fieldset>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center section-4">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-success btn-lg btn-xl button button-drop" ng-disabled="sentMessage.$invalid"><span class="text">Send Message</span></button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>