<link href="css/input.css" rel='stylesheet' type='text/css'>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row white">
            <div class="col-lg-12">
                <form name="sendMessage" action="ContactForm" id="contactForm" ng-submit="form.submitForm(sendMessage.$valid)" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input form-group " ng-class="{'has-error' : sendMessage.fullname.$invalid && !sendMessage.fullname.$pristine }">
                                <input class=" input_field " type="text" name="fullname" id="fullname" data-validation-required-message="Please enter your name."ng-model="fullname" required/>
                                <label for="fullname" class=" input_label">
                                    <span class="input_label-content">Full name</span>
                                </label>

                                <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                </svg>
<!--                                <p class="help-block text-danger" ng-show="sendMessage.fullname.$invalid && !sendMessage.fullname.$pristine">
                                    Your name is required
                                </p>-->
                            </div>
<!--                            <fieldset class="form-group controls" ng-class="{'has-error' : sendMessage.fullname.$invalid && !sendMessage.fullname.$pristine }">
                                <label for="fullname" class="control-label">Full Name</label>
                                <input type="text" class="form-control" placeholder="Your Name *" name="fullname" id="fullname" data-validation-required-message="Please enter your name."ng-model="fullname" required>
                                <p class="help-block text-danger" ng-show="sendMessage.fullname.$invalid && !sendMessage.fullname.$pristine">Your name is required</p>
                            </fieldset>-->
                            <div class="input form-group " ng-class="{'has-error' : sendMessage.fullname.$invalid && !sendMessage.fullname.$pristine }">
                                <input class=" input_field " type="email" name="email" id="email" ng-model="email" required/>
                                <label for="email" class=" input_label">
                                    <span class="input_label-content">E-mail</span>
                                </label>

                                <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                </svg>
<!--                                <p class="help-block text-danger" ng-show="sendMessage.email.$invalid && !sendMessage.email.$pristine">
                                    Enter a valid email.
                                </p>-->
                            </div>
<!--                            <fieldset class="form-group floating-label-form-group controls">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" placeholder="Your Email *" name="email" id="email" ng-model="email" required>
                                <p class="help-block text-danger" ng-show="sendMessage.email.$invalid && !sendMessage.email.$pristine">Enter a valid email.</p>
                            </fieldset>-->
                            <div class="input form-group " >
                                <input class=" input_field " type="tel" id="phone" name="phone" ng-model="phone"/>
                                <label for="phone" class=" input_label">
                                    <span class="input_label-content">Phone number</span>
                                </label>

                                <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                </svg>
                                <!--<p class="help-block text-danger"></p>-->
                            </div>
<!--                            <fieldset class="form-group floating-label-form-group controls">
                                <l<p class="help-block text-danger"></p>abel for="phone">Phone number</label>
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" name="phone" ng-model="phone">

                            </fieldset>-->
                        </div>
                        <div class="col-md-6">
                            <div class="input form-group " >
                                <textarea  class="input_field"  id="message" name="message" data-validation-required-message="Please enter a message." ng-model="message" required></textarea>

                                <label for="message" class=" input_label">
                                    <span class="input_label-content">Message</span>
                                </label>

                                <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                                </svg>
                                <!--<p class="help-block text-danger" ng-show="sendMessage.message.$invalid && !sendMessage.message.$pristine">Your message text is required</p>-->
                            </div>
<!--                            <fieldset class="form-group floating-label-form-group controls">
                                <label for="message">Message</label>
                                <textarea  class="form-control" placeholder="Your Message *" id="message" name="message" data-validation-required-message="Please enter a message." ng-model="message" required></textarea>
                                <p class="help-block text-danger" ng-show="sendMessage.message.$invalid && !sendMessage.message.$pristine">Your message text is required</p>
                            </fieldset>-->
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center section-4">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-success btn-lg btn-xl button button-drop" ng-disabled="sentMessage.$invalid"><span class="text">Send Message</span></button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="js/input.js"></script>