<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
            <param-name>ContactEmail</param-name>
            <param-value>whoeveriam911@gmail.com</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>bloodDonor.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactForm</servlet-name>
        <servlet-class>bloodDonor.ContactForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ContactForm</servlet-name>
        <url-pattern>/ContactForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
